dist/
.history/
node_modules/
src/config/*

!src/config/*.d.ts
!src/config/format.ts
!src/config/default.ts
!src/config/emojis.ts
src/utils/migration/data
src/config/main.ts
.vscode/
.vim/
yarn-error.log
src/utils/temp/*.png
src/utils/temp/*.webp
src/utils/temp/*.jpeg
src/utils/temp/*.jpg

ClicksMigratingProblems/oldData/
ClicksMigratingProblems/oldData copy/

.direnv/
