dist/
.history/
node_modules/
src/config/
.vscode/
yarn-error.log
yarn.lock
src/utils/temp/*.png
src/utils/temp/*.webp
src/utils/temp/*.jpeg
src/utils/temp/*.jpg

ClicksMigratingProblems/oldData/
ClicksMigratingProblems/oldData copy/